:root {
    --cor-verde-pastel: hsl(74, 70%, 82%);
    --cor-amarelo-queimado: hsl(53, 62%, 71%);
    --cor-marrom-oliva: hsl(38, 25%, 41%);
    --cor-marrom-avermelhado: hsl(13, 29%, 27%);
    --cor-marrom-escuro: hsl(16, 24%, 15%);

    --font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body{
    background-color: var(--cor-verde-pastel);
    color: var(--cor-marrom-escuro);
    padding: 20px;  
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--cor-amarelo-queimado);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

header p {
    text-align: center;
    font-size: 1.1rem;
}

button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-marrom-oliva);
    color: var(--cor-marrom-escuro);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--cor-marrom-avermelhado);
    color: var(--cor-verde-pastel);
}

#output {
    margin-top: 20px;
    background-color: var(--cor-verde-pastel);
    padding: 15px;
    border-radius: 8px;
    border: 2px solid var(--cor-marrom-oliva);
    min-height: 60px;
    font-weight: bold;
    color: var(--cor-marrom-escuro);
}

footer {
    text-align: center;
    padding-top: 10px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.container p {
    margin-bottom: 8px;
}